/* Add your CSS here. Utilize Tailwind classes or write custom styles to bring your unique design to life. */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.medium-txt {
  font-size: clamp(0.7rem, 3vw, 1.125rem);
}

.product-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preview-container {
  display: flex;
  /* width: 494px; */
  width: clamp(10rem, 50vw, 30.875rem);
  justify-content: space-around;
}
.preview-img {
  margin-top: 20px;
  width: clamp(20px, 10vw, 6.5rem);
}

.featured-image-container {
  width: clamp(160px, 50vw, 30.875rem);
}
.featured-image {
  width: 90%;
  margin: 0 auto;
}

.product-category {
  font-size: 1rem;
  font-weight: bold;
  color: #1a75ff;
  text-transform: uppercase;
}

.product-title {
  font-size: clamp(1.5rem, 4vw, 3rem);
  font-weight: bold;
  color: black;
}

.product-description {
  opacity: 60%;
  text-align: center;
}

.product-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.product-price-container {
  display: flex;
  align-items: center;
}
.product-price {
  font-size: clamp(0.9rem, 2.5vw, 2.5rem);
  font-weight: bold;
  margin-right: 16px;
}

.discount-pct {
  background-color: #aaccff;
  color: #1a75ff;
  width: clamp(31px, 5vw, 61px);
  height: clamp(5px, 4vw, 31px);
  font-weight: 500;
  text-align: center;
  border-radius: 4px;
  padding: 2px;
}
.discount-price {
  text-decoration: line-through;
  opacity: 30%;
}

.product-size-container {
  display: flex;
  flex-direction: column;
}

.product-sizes-container {
  display: flex;
  justify-content: space-between;
}

.size-title {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 43px;
  text-align: center;
}

li {
  display: flex;
  justify-content: center;
  margin-right: 16px;
  margin-top: 19px;
  width: clamp(30px, 3vw, 48px);
  height: clamp(30px, 3vw, 48px);
  color: black;
}

li:nth-child(2) {
  background-color: rgb(0, 0, 0);
  color: white;
}

.add-btn {
  background-color: #1a75ff;
  color: #fff;
  width: clamp(200px, 40vw, 533px);
  /* width: 533px; */
  padding: 16px 4px;
  border-radius: 4px;
  margin-top: 64px;
}

@media (min-width: 640px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container {
    width: 94.5rem;
  }
}
@media (min-width: 1024px) {
  .product-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .preview-container {
    flex-direction: column;
    align-items: center;
    order: -1;
    gap: 24px;
    margin-left: auto;
    width: 9.4375rem;
  }
  .product-details-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 30px;
  }

  .size-title {
    text-align: left;
  }
}
